/*** MODALS ****/

.summary{
	width: 100%;
}

/**** ACTION BAR ****/

.actionbar{
	/*table-layout: fixed;*/
	border: 1px solid #eee;
	border-top: none;
}

.actionbar input{
	width: 100%;
}

.actionbar td, .actionbar th{
	padding: 0.5em 0.25em;
}

.actionbar tr{
	display: block;
}

.actionbar td.actiontd{
	padding-right: 0;
	padding-left: 0;
}

.actiontd button{
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;

	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

/**** ACTION CHOOSER ****/

#trchoose {
	float:right;  margin-left: -0.5em; margin-right: 0.25em;
}

#trchoose td{
	padding-left:0;
	padding-right:0;
}

#actionchoose{
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;

	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;

	padding-left: 0.25em;
	padding-right: 0.25em;
}

/**** INSERT ACTION BAR ****/

.datepick {
	text-align: center;
}

.numinput{
	text-align: right;
}


.entry-date{
	text-align: center;
}


/**** ENTRY TABLE ****/

.entrytable td, .entrytable th{
	padding: 0.25em 0.5em;
}

.entrytable thead {
    display: block;
}

.entrytable tbody{
	display: block;
	border: 1px solid #eee;
}

.cashflow{
	overflow: auto;
	height: 405px;
}

.theader {
	border: 1px solid #eee;
	border-bottom: none;
}

.theader th{
	text-align: center;
	font-weight: bold;
}

.entry:nth-child(odd){
	background: #eee;
}

a.rowaction, a.rowaction:active, a.rowaction:focus{
	outline: none;
	color: #0099dd;
}

a.rowaction:hover{
	outline: none;	
	color: #0077bb;
}

.actiontd{
	text-align: center;
}


/**** GENERAL ****/

.debit {
	color:#ff0000;
}

.cashtext {
	text-align: right;
}

.hidden {
	display: none;
}

.center{
	text-align: center;
}

/**** STRUCTURAL ****/

body{
	font-family: sans-serif;
	text-align: center;
}

.content {
	display: inline-block;
	text-align: left;
}

/**** TABLE STRUCTURE ****/

.col1{
	width: 120px;
}

.col1a {
	width: 240px;
}

.col2{
	width: 280px;
}

.col3{
	width: 170px;
}

.col4{
	width: 280px;
}

.col5{
	width: 50px;
}

