{% for item in cashflow %}
<tr class="entry" id='entry{{item["id"]}}'>
	<td>{{ item["entry_date"] }}</td>
	<td>{{ item["account"] }}</td>

	{% set categoryobj = categoryDict[item["category_id"]] %}

	{% if item["flow"] == 1%}
		<td class="credit">Credit</td>
		<td>{{ categoryobj["group"] + " - " + categoryobj["name"] }}</td>
		<td class="credit">{{ format_money(item["amount"]) }}</td>
	{% else %}
		<td class="debit">Debit</td>
		<td>{{ categoryobj["group"] + " - " + categoryobj["name"] }}</td>
		<td class="debit">&#40;{{ format_money(item["amount"]) }}&#41;</td>
	{% endif %}
	
	<td>{{ item["description"] }}</td>
	<td>
		<a href="#" onclick='editEntry({{item["id"]}})'>Edit</a>
		<a href="#" onclick='deleteEntry({{item["id"]}})'>Delete</a>
	</td>
</tr>
{% endfor %}