{% for item in cashflow %}
<tr class="entry" id='entry{{item["id"]}}' data-id="{{item["id"]}}">
	<td class="entry-date">{{ item["entry_date"] }}</td>
	<td>{{ item["account"] }}</td>

	{% set categoryobj = categoryDict[item["category_id"]] %}

	{% if item["flow"] == 1%}
		<td>Credit</td>
		<td>[{{ categoryobj["group"] }}] {{ categoryobj["name"] }}</td>
		<td class="credit cashtext">{{ format_money(item["amount"]) }}</td>
	{% else %}
		<td>Debit</td>
		<td>[{{ categoryobj["group"] }}] {{ categoryobj["name"] }}</td>
		<td class="debit cashtext">&#40;{{ format_money(item["amount"]) }}&#41;</td>
	{% endif %}
	
	<td>{{ item["details"] }}</td>
	<td>
		<!-- <a href="#" onclick='editEntry({{item["id"]}})'>Edit</a> -->
		<a href="#" onclick='deleteEntry({{item["id"]}}, "{{item["account"]}}", {{item["amount"] * item["flow"]}})'>Delete</a>
	</td>
</tr>
{% endfor %}